/*ul li a{
list-style: none;
text-decoration: none;
background-color: black;
color:white;
}
ul li {
    list-style: none;
    text-decoration: none;
    background-color: black;
    color:white;
    }
    */